version: 2.1

orbs:
  python: circleci/python@0.2.1

executors:
  my-executor:
    docker:
      - image: circleci/python:3.8.6

jobs:
  build-and-test:
    executor: my-executor
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: ./manage.py test
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
